{% extends 'student_disengagement/base.html' %}

{% block content %}
{% include './navbar.html' %}

<h2>All the disengagements</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student</th>
        <th scope="col">Eff. Date</th>
        <th scope="col">Ret. Date</th>
      </tr>
    </thead>
    <tbody>
      {% for de in de_list%}
      <tr>
        <th scope="row">{{de.id}}</th>
        <td>{{de.student.full_name}}</td>
        <td>{{de.effective_date}}</td>
        <td>{{de.intended_return_date}}</td>
        <td><a class="btn btn-primary" role="button" href="{% url 'student_disengagement:disengagement' pk=de.id %}">details</a></td>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
